<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['build', 'vendor'])
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        'header_comment' => ['header' => ''],
        'phpdoc_align' => false,
        'phpdoc_order' => true,
        'ordered_imports' => true,
        'phpdoc_line_span' => [
            'property' => 'single',
        ],
        'array_syntax' => ['syntax' => 'short'],
        'void_return' => true,
        'yoda_style' => false,
    ])
    ->setFinder($finder);
